
* {
  font-family: arial, sans-serif;
}

BODY {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
  -webkit-user-select: none;
  background-color: rgba(255,127,0,0.1);
}

INPUT {
  background-color: #fff;
}

#background {
  position: absolute;
  left: 0px;
  top: 0px;
}

#content {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
}

#title-holder {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

#title {
  width: 100%;
  box-sizing: border-box;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}

#qr-holder {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 6rem;
  vertical-align: top;
}

#qrcode {
  position: absolute;
  left: 0px;
  top: 0px;
	width: 6rem;
  height: 6rem;
  vertical-align: top;
  image-rendering: pixelated;
}

#qrcode.error {
  display: none;
}

#info {
  position: absolute;
  left: 0px;
  top: 0px;
	width: 6rem;
  height: 6rem;
  vertical-align: top;
  display: none;
}

#info.error {
  display: inline-block;
}

.num-input {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 0.2rem;
  width: 5.8rem;
}

.num-input.error {
  background-color: rgba(255,0,0,0.2);
}

.label {
  display: inline-block;
  text-align: center;
}

.num-input,
.label {
  font-size: 2rem;
  margin: 0.25rem 0.1rem 0rem 0.1rem;
}

#buttons-holder {
  margin-top: 0.25rem;
  vertical-align: top;
}

.num-button {
  display: inline-block;
  overflow: visible;
  background-color: rgba(0,0,0,0.05);
  text-align: center;
  border-style: none;
  outline: none;
  font-size: 1.5rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  margin: 0.1rem;
  padding: 0px;
  transition: background-color 0.3s;
}

.num-button:hover,
.num-button:active {
  background-color: rgba(255,255,255,0.8);
  transition: background-color 0s;
}


#title.selected,
.num-input.selected {
  box-shadow: 0 0 0.2rem 0.08rem rgba(127,0,0,0.8);
  -webkit-appearance: none;
}
